# Node / Dependencies
node_modules/
*.local

# Python / Virtual Environment
venv/
venv_win/
.venv/
__pycache__/
*.py[cod]

# Databases & Media
db.sqlite3*
media_db.sqlite3*
/media/
/staticfiles/
/scratch/

# Environment variables
.env

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
